@media (min-width: 0px) and (max-width: 767px) {
  .xl-text2 {
    font-size: 30px;
    text-align: center;
}

.m-text1 p{
  text-align: center;
}

.blog-content{
  display: block;
}
.about{
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-body h6{
    height: auto;
}

.card-item img {
    width: 320px;
    }
 .icon-serv{
    top: 45%;
 }
.card-item{margin-left: 0;
height: auto;}
.servicios h3 {
    font-size: 26px;
    line-height: 1.2;
    }

    .blog h3{
        font-size: 26px;
    }
    section.blog {
    padding-left: 20px;
    padding-right: 20px;
}

section.cards-options.container {
  
    padding-left: 20px;
    padding-right: 20px;
    }

    .servicios h3:before{display: none;}

    section.servicios {
    padding-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    }

.form-sub{
  display: block;
}

.blog h3:after{
    display: none;
}

.side-menu .main-menu {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.side-menu .main-menu > li > a {
    font-size: 18px;
    }

input.s-text7.w-full{
  width: 100%;
}

input{
    border: solid 2px #a0d1af;
}

.mask-item{
    align-items: center;
}

h2.caption2-slide1.animated.visible-false.m-b-33{
    text-align: center;
}

i.fa.fa-phone{
    margin-right:2%;
    color: #fff;
}

i.fa.fa-envelope {
   margin-right:2%;
   color: #fff;
}

i.fa.fa-map-marker{
   margin-right:2%;
   color: #fff;
}


.fa {
    color: #a0d1af;
}

.text1-img{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}


.about_info1 h3 {
    font-size: 30px;
}


.father-flex{
    display: block;
}

.text1{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5%;
}

.about_info1 h6{
    margin-left: 0;
}

.about_info1 h3 {
    font-size: 30px;
}

button.arrow-slick1.next-slick1.slick-arrow{
    right: 30px;
}

button.arrow-slick1.prev-slick1.slick-arrow{
    left: 30px;
}

a.btn-oficial.flex-c-m.size2.s-text2.bgwhite.hov1.trans-0-4{
    width: auto;
}



.overlay h3{
  font-size: 2rem!important;
  padding: 10px;
}

.here{
  margin-left: 0;
}
.four {
 width: 100%;
}

.w-size1 {
    width: auto;
}

.five{
	width: 100%;
}

.logo-footer img {
    width: 60%;
}


.text-banner h1 {
    color: #fff;
}

.text-banner h1:after
{
    display: none;
}

.text-banner p {

    margin-top: 4%;
    color: #fff;
}

.text-banner h3 {
    color: #fff;
}

i.fa.fa-facebook{
    color: #fff;
}

i.fa.fa-instagram{
    color: #fff;
}

.btn-whatsapp .face{
    left: 1rem;
}

.btn-whatsapp .insta{
    left: 1rem;
}



.logo-mobile img {
    max-height: 40px;
}




.text-banner {
    position: absolute;
    top: 0;
    background: rgb(0 0 0 / 28%);
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.cards-products {
    padding-bottom: 100px;
    justify-content: center;
}

.ftco-footer .ftco-footer-widget h2{
    margin-left: 0;
}

.reasons h6 {
    font-size: 30px;
}


.logo-footer{
	text-align: center;
    margin-bottom: 3%;
    justify-content: center!important;
}



.header {
    height: 60vh;
}

.form
{
    width: 100%;
}

.form h5{
    margin-bottom: 10%;
}

.slider-nav.slick-initialized.slick-slider{
    display: none;
}

.banner img {
 width: 100%;
 height: 100vh;
}

.slider-for ul.slick-dots
{
    display: none!important;
}

.slick-dotted.slick-slider
{
    margin-left: 0;
}

.blog-item{
    display: block!important;
}

.card-services {
    padding-left: 25px;
    padding-right: 25px;
}

.text-misa{
    width: 100%;
}

.blog-img img{
    width: auto;
}
.acceder{
    display: block;
}

.item-acceder{
    width: auto;
}

.item-acceder{
    margin-top: 10%;
}
.text-misa h3:after{
    display: none;
}
}




@media (min-width: 768px) and (max-width: 1024px) {
.here{
    margin-left: 15%;
}

.blog h3:after{
    display: none;
}

.item-acceder h6 {
    font-size: 20px;
    height: 40px;
}


.side-menu .main-menu {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.side-menu .main-menu > li > a {
    font-size: 26px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px){
.topbar-child2{
    width: 63%;
}

.card-item{
    width: 272px!important;
          margin-left: 41px;
}

.card-item img {
    width: 272px;
}

.card-body {
    width: 272px;
    padding: 35px;
}

.flex-button2{
    width: 235px;
}
}