@media (min-width: 320px) and (max-width: 767px){
	.p-before:before{
		    width: 239px !important;
	}
}
@media (min-width: 375px) and (max-width: 767px){
	.pagos {
    padding-bottom: 0px;
}
	p.subtitulo-recaudos {
    font-size: 17px;
    font-weight: 400;
}
	.text-second h6 {
		font-size: 20px;
	}
	.accionistas p , .call-text p{
		font-size: 15px;
	}
	.p-before:before{
		background-color: transparent;
	}
	#form_trabaja-con-nosotros .frm_dropzone.dz-clickable.frm_single_upload .dz-message{
		width:100%;
	}
	.form-group.has-search.addj {
    width: 100% !important;
    margin-bottom: 0px!important;
}
	body > section > section > div > div.logos-adjuntar > a:nth-child(2) > img {
		
    margin-left: 0px;
}
	.text-second-1 h6{
		margin-bottom:0;
	}
	.w-size1{
		margin-top: 2rem;
	}
	.p-before:before {
    width: 295px !important;
}

	.card-item3{

	    height: max-content !important;
}
	.more-view{
		height: max-content !important;
	}

	#process-tab > div > ul > li:nth-child(1) > a.active::after{
		    width: 12% !important;
	}
	#process-tab > div > ul > li:nth-child(2) > a::before{
    left: 5vh !important;
		    top: 42px  !important;
	}
	#process-tab > div > ul > li:nth-child(2) > a.active::after{
		    left: 59% !important;
		    width: 12% !important;
	}
	#process-tab > div > ul > li:nth-child(3) > a::before{
		    left: 58% !important;
	}
	#process-tab > div > ul > li:nth-child(3) > a::after{
		    right: -16px !important;
		    width: 11% !important;
	}
	#process-tab > div > ul > li:nth-child(3) > a.active::before{
		    left: 58% !important;
	}
	#process-tab > div > ul > li:nth-child(4) > a::before{
		    left: 29vh !important;
	}
	#process-tab > div > ul > li:nth-child(4) > a::after{
		    left: 42vh !important;
	}
	#process-tab > div > ul > li:nth-child(4) > a.active::before{
		    left: 78% !important;
		    width: 12% !important;
	}
	#process-tab > div > ul > li:nth-child(5) > a::before{
    top: 42px !important;
    left: 47vh !important;
	}
	#process-tab > div > ul > li:nth-child(5) > a::after{
top: 42px !important;
      left: 162% !important;
		    width: 11% !important;
	}
	#process-tab > div > ul > li:nth-child(5) > a.active::before{
		    z-index: 1;
		    width: 11% !important;
		    left: 128% !important;
	}
	#process-tab > div > ul > li:nth-child(4) > a::after{
		
    z-index: 1 !important;
		    width: 11% !important;

	}
	#process-tab > div > ul > li:nth-child(6) > a.active::before{
    left: 55vh !important;
	}
	#process-tab > div > ul > li:nth-child(6) > a.active::after{
		    right: -362px !important;
		    width: 11% !important;
	}
	#process-tab > div > ul > li:nth-child(8) > a.active::after{
		    width: 11%;
	}
	#slick-slide00 > div > div > div > div{
		margin-top: 20rem;
	}
	#slick-slide00 > div > div > div > div > a{
		padding: 15px !important;
	}
	
}
@media (min-width: 425px) and (max-width: 767px){
	.p-before:before {
    width: 344px !important;
}
		.card-item3{

	    height: max-content !important;
}
	.more-view{
		height: max-content !important;
	}
	
	.card-body h6, .card-body-home h6 {
    margin-bottom: 0% !important;
}
	#process-tab > div > ul > li:nth-child(1) > a.active::after{
		    width: 10% !important;

	}
	#process-tab > div > ul > li:nth-child(2) > a::before{
		    left: 8vh !important;
	}
	#process-tab > div > ul > li:nth-child(2) > a::after{
		    left: 52% !important;
	}
	#process-tab > div > ul > li:nth-child(2) > a.active::after {
    left: 52% !important;
    width: 9% !important;
}
	#process-tab > div > ul > li:nth-child(3) > a::before {
    left: 52% !important;
}
	#process-tab > div > ul > li:nth-child(3) > a::after {
    right: 34px !important;
    width: 10% !important;
}
	#process-tab > div > ul > li:nth-child(3) > a.active::before {
    left: 52% !important;
}
	#process-tab > div > ul > li:nth-child(4) > a::before{
		    right: -35px !important;
	}
	#process-tab > div > ul > li:nth-child(4) > a::after{
		    right: -140px !important;
		    width: 7% !important;
	}
	#process-tab > div > ul > li:nth-child(4) > a.active::before {
    left: 64% !important;
    width: 10% !important;
}
	#process-tab > div > ul > li:nth-child(4) > a.active::after{
		    right: -131px !important;
		    width: 9% !important;

	}
	#process-tab > div > ul > li:nth-child(5) > a.active::before{
		    left: 111% !important;
		    width: 10% !important;
	}
	#process-tab > div > ul > li:nth-child(5) > a.active::after{
		    left: 141% !important;
		width: 10% !important;
	}
	#process-tab > div > ul > li:nth-child(6) > a.active::before{
		    left: 51vh !important;
	}
	#process-tab > div > ul > li:nth-child(6) > a.active::after{
    width: 9% !important;
		    right: -310px !important;
	}
	#process-tab > div > ul > li:nth-child(8) > a.active::after{
		    width: 10% !important;
	}


}
@media (min-width: 0px) and (max-width: 767px) {
	

	.item-slick1.item1-slick1{
    height: 50vh;
		margin-top: 8rem;
	}
	.item-slick1:nth-child(3) .here{

	}
	#accordion .panel-body p{
		    padding-left: 35px;
    font-size: 17px;
	}
	body > section.recaudos.faqs-recaudo > h6{
		    margin-top: 60px;
		    margin-bottom: 20px;
	}
	.text-first__pa{
    padding: 2rem 0;
	}
	.card-body h6, .card-body-home h6{
		    margin-bottom: 13%;
	}
	.item-slick1{
		    height: 650px;
	}
	.main-redime__content{
		grid-template-columns: 1fr:
	}
	.card-club-principal{
		display: flex;
    justify-content: center;
	}
	.card-club{
		width: 200px;
		height:200px;
	}
	.card-club img{
		width: 100%;
		
	}
	.main-redime__content{
		grid-template-columns:1fr;
	}
	.main-redime__item div img {
    margin-bottom: 0rem;
    width: 100%;
}
	#process-tab > div > ul > li:nth-child(1) > a.active::after{
		       left: 83px;
    z-index: 1;
    width: 14%;
	}
	#process-tab > div > ul > li:nth-child(1) > a::after{
		    width: 15%;
		    top: 42px;
		    left: 79px;
	}
	#process-tab > div > ul > li:nth-child(2) > a::after{
		    width: 14%;
		    left: 70%;
		    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(2) > a.active::after{
		    z-index: 1;
    left: 71%;
	}
	#process-tab > div > ul > li:nth-child(2) > a.active::before{
		        left: 84px;
    width: 100px;
		    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(3) > a::after{
		    right: -72px;
		    top: 42px;
		    z-index: 1;
	}
	#process-tab > div > ul > li:nth-child(3) > a::before{
		    top: 42px;
    left: 70%;
		    width: 14%;
	}
	#process-tab > div > ul > li:nth-child(3) > a.active::before{
		    left: 71%;
	}
	#process-tab > div > ul > li:nth-child(4) > a::before{
		    right: -70px;
		    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(4) > a::after{
		    right: -185px;
    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(4) > a.active::before{
		    left: 112%;
		    z-index: 1;
	}
	#process-tab > div > ul > li:nth-child(6) > a::before{
		    right: -300px;
		top: 42px;
}
	#process-tab > div > ul > li:nth-child(6) > a::after{
		 right: -415px;
		top: 42px;
	}
	#process-tab > div > ul > li:nth-child(6) > a.active::before{
		    left: 60vh;
		    width: 15%;
	}
	#process-tab > div > ul > li:nth-child(6) > a.active::after{
		    z-index: 1;
	}
	#process-tab > div > ul > li:nth-child(5) > a.active::before{
		    left: 47vh;
		    width: 16%;
			top: 42px;
}
	#process-tab > div > ul > li:nth-child(5) > a.active::after{
		    left: 194%;
			top: 42px;

    width: 14%;
		z-index:1;
	}
	#process-tab > div > ul > li:nth-child(7) > a::before{
		    left: 73vh;
		    width: 14%;
		    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(7) > a::after{
		    left: 85vh;
		    top: 42px;
		
	}
	#process-tab > div > ul > li:nth-child(7) > a.active::before{
left: 73vh;
	}
	#process-tab > div > ul > li:nth-child(7) > a.active::after{
		    width: 46px;
		    right: 0;
		    z-index: -1;
	}
	#process-tab > div > ul > li:nth-child(8) > a.active::after{
    left: 86vh;
		z-index: 1;
	}
	#process-tab > div > ul > li:nth-child(8) > a::after{
		    right: auto;
			top: 42px;
		    
	}
	
	.duelo{
		
		    background-position: right;
	}
	.side-menu .main-menu > li{
		color: black;
	}
	.faqs-img {
    width: 100%;
		    order: -1;
}
	.faqs-flex {
    flex-direction: column;
}
	.faqs-text {
    width: 90%;
}
	.recaudos p,.recaudos h5, .recaudos h6, .publicacion-item {
    text-align: left;
    
}
	.image-publicacion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
	.publicacion-item{
		    align-items: flex-start;
	}
	#form_trabaja-con-nosotros .btn_send.frm_button_submit{
		width: 100%;
    border-radius: 10px;
    margin-top: 2rem;
	}
	#form_trabaja-con-nosotros .frm_dropzone.dz-clickable.frm_single_upload .dz-message{
		  border-radius: 10px !important;
	}
	.blog-img img {
    width: 100%;
    height: 100%;
}
	.frm_dropzone .frm_upload_icon:before {
    font-size: 15px;
    padding-right: 0;
}
	.frm_upload_text{
		font-size:13px;
	}
	.accionistas p{
		text-align: left;
	}
  .xl-text2 {
    font-size: 26px;
    text-align: center;
	  margin-top:0;
	  text-shadow: 1px 1px 1px #000000;
}
    .text-first h6::before,.text-bg h6::before{
        display: none;
    }
	
	.btn-prepago{
    display: block;
}
	.publicacion-item p{
		width:auto;
	}
	
	.btn-cta img {
    width: 11%;
}
	#slick-slide00 > div > div > div > h2{
		display:none;
	}
	
	button.btn-1 {
    background: #fff;
    padding: 7px 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    /* padding: 20px; */
    width: 75%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    height: 63px;
    align-items: center;
}
	
	.mayor-text h6::before{
		display:none;
	}
	
	.btn-prepago {

    text-align: -webkit-center;
}
	
	.flex-redime {
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
	
	div.text-second{
		padding-left:0;
	}
.main-content__grid {
	display: block;   }
    .publicaciones-flex{
    display: block;
}
	
	.card-club-principal {
width:auto;
		margin-bottom: 15%; 
	margin-left:0;
	margin-right:0;}
	
	.process-model li img {
    display: block;
     }
	
	.process-model li {
    display: inline-block;
    width: 33%;
	 }
	.border-line{
		width: 80px;
	}
	ul.nav.nav-tabs.process-model.more-icon-preocess li{
		margin-right: 3rem;
	}
	.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
		overflow-x: scroll;
		flex-wrap: nowrap;
		
			 }
	.more-icon-preocess.process-model li::after{
		display:none;
	}
	
	ul.nav.nav-tabs.process-model.more-icon-preocess li {
    flex: 0 0 12.5%;
    margin-left: 5px;
		margin-bottom: 15px;
}
	
.frm_combo_inputs_container, .frm_grid_container, .frm_form_fields .frm_section_heading, .frm_form_fields .frm_fields_container{
	display:block!important;
	}
.icon-publicacion{
    width: auto;
}

.publicacion-item{
      display: flex;
    justify-content: center;
    flex-direction: column;
	text-align:center;
	padding-left:0;
}

.image-publicacion{
    width: auto;
}
	
	.text-second-beneficios{
		width:auto;
	}
	.text-plan {

    min-height: 65rem;
		    max-height: 115rem !important;
}
	
	.text-second-beneficios h6 {
    
    margin-bottom: 18%;
}
	
	.text-second-beneficios {

    padding-left:0px;
    padding-top: 20px;
		  }
	
	.recaudos h5 {
    font-size: 20px;
			  }
	
	.process-model li i {
  
    height: 50px;
    width: 50px;

    font-size: 25px;	  }
	
	.process-model li::after{
		right:30px;
	}
	.faqs_acc{
		padding:0;
	}
	#accordion .panel-title a{
		
    padding: 20px 40px;

	}
	.process-model li p {
		font-size: 10px; 
		text-align: center;
	}
	.card-club {
		display: flex;
    justify-content: center;
		height: 100%;
    align-items: center;
	}
	.card-club img {
    width: 60%;
}
	
	#accordion .panel-title a{
		font-size:15px;
	}
	
	#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {

    right: 15px;

    top: 30%;
	  }
.m-text1 p{
  text-align: center;
	font-size: 12px;
	line-height: 1.3;
}
	.m-text1 p {

    color: #33508d!important;

}

.conoce-flex{
    display: block;
}
.duelo-img {
    display: none;
}
.marcas{
    display: block;
}
.card-recaudos{
    display: block;
}
.beneficios-text {
width: auto;
}
.text1{
    display: block;
}
section.privacy {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
	    margin: 10px 10px;
    }
    .text1-img img {
    width: 100%;
}
.text-middle {
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 20px;
    padding-right: 20px;
}

.text1-img{
    width: auto;
}

.text-there{
    width: auto;
}
.form-info{
    display: block;
}
	
	
.item-form{
    width: auto;
}

.card-item-plan2 {
    width: auto;
    position: relative;
    margin-bottom: 20%;
}
.mayor-img{
    display: none;
}
.card-recaudos_item img {
    height:auto; 
    width: 100%;
}
.recaudos h5::before{
    display: none;
}
.tab2{
    display: block;
}
.marca-item{
    width: auto;
        margin-bottom: 20%;
}

.card-item-plan{
    width: auto;
        margin-bottom: 15%;
}

.card-plan{
    display: block;
}
section.recaudos {

    padding-left: 20px;

    padding-right: 20px;
	padding-bottom:0;
    }
.mayor-img img{
    display: none;
}
.card-recaudos_item{
    width: auto;
        margin-bottom: 10%;
}
.serv{
    padding-top: 150px!important;
}

.beneficios-text h5::before{
    display: none;
}

section.conoce {
    padding-left: 20px;
    padding-right: 20px;}

.card-conoce{
    display: block;
    margin-top: 15%;
}

.card-item3{
width: auto;
    margin-bottom: 15%;
	    height: max-content !important;
}
	.more-view{
		height: max-content !important;
	}
.duelo-text ul li {
    margin-bottom: 10%;}

.duelo-text {
    width: auto;
    margin-top: 0;
    margin-bottom: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
	    margin-left: 20px;
    margin-right: 20px;
}
    .main_menu > li{
        padding-top:0;
        padding-bottom:0;
    }

    .card-services2{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    }
    .card-item2{
        width: auto;
            margin-top: 10%;
    }
    .planes h3 {
    font-size: 25px;
    padding-top: 50px;
            padding-left: 7px;
    padding-right: 7px;
}
    .work-flex {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
}

.img-second{
    width: auto;
	height:auto;
}

.text-second{
    width: auto;
    padding-left: 0;
    margin-top: 10%;
}

.flex-adjuntar{
    display: block;
        padding-left: 20px;
    padding-right: 20px;
}

.logos-adjuntar{
    width: auto;
	display:block;
	text-align:center;
	}
	
	.text-second, .text-second-1{
		width:auto;
		padding-left:0;
	}
	
	.text-second-1 h6 {
    height: 43px;
		font-size: 25px; }
	
	.text-second h6::before, .text-second-1 h6::before{
		display:none;
		    margin-bottom: 3%;
	}

.adjuntar {
    background: #f7f7f7;
    padding-left: 20px;
    padding-right: 20px;
        padding-bottom: 50px;
    }

.form-adjuntar{
    width: 100%;
}
.text-second h6::before{
    display: none;
}

.iconos-text{
    display: block;
}
.main_menu > li > .sub_menu {
        top: 77%;
    left: 10%;
    position: absolute;
    border-top: 8px solid #33508d;
    width: 100%;
}
	.sub_menu{
    left: 90%;
		    width: 176px;

	}
    .ftco-footer .ftco-footer-widget h2{
        width:auto;
    }
    
    .img-call{
        display:none;
    }
    .blog-img {
    width: auto;
    height: auto;
    object-fit: cover;
}
section.error-found {
    padding-top: 150px;
    padding-right: 20px;
    padding-left: 20px;
}
.blog-content{
  display: block;
}
.about{
  display: block;
  padding-top: 100px;

}
    .card-body{
        width:auto;
    }
.card-body h6{
    height: auto;
}
    .ftco-footer-social.list-unstyled{
        justify-content:center;
    }

 .icon-serv{
    top: 45%;
 }
.card-item{
height: auto;
 width: 325px;
    margin-left:0;
    margin-right:0;}
.servicios h3 {
    font-size: 26px;
    line-height: 1.2;
    }

    .blog h3{
        font-size: 26px;
    }
    section.blog {
    padding-left: 20px;
    padding-right: 20px;
		  
}

	.item-acceder{
    margin-bottom: 20px;
	}
section.cards-options.container {
  
    padding-left: 20px;
    padding-right: 20px;
    }

    .servicios h3:before{display: none;}

    section.servicios {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    }

.form-sub{
  display: block;
}

.blog h3:after{
    display: none;
}

.side-menu .main-menu {
  margin-bottom: 0;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    height: 100vh;
}

.side-menu .main-menu > li > a , .side-menu .main-menu > li > span{
    font-size: 18px;
    }

input.s-text7.w-full{
  width: 100%;
}

input{
    border: solid 2px #a0d1af;
}

.mask-item{
    align-items: center;
}

h2.caption2-slide1.animated.visible-false.m-b-33{
    text-align: center;
}

i.fa.fa-phone{
    margin-right:2%;
    color: #fff;
}
    .blog h3{
            margin-bottom: 10%;
    }
    .here2{
     margin-left: 0%; 
    width: auto; 
    text-align: center;
    padding: 35px;
    }
    
    .here3{
             margin-left: 0%; 
    width: auto; 
    text-align: center;
    padding: 35px;
    }
i.fa.fa-envelope {
   margin-right:2%;
   color: #fff;
}
.about-content{
    display: block;
}

.flex-star{
    display: block;
}

.tab {
    float: inherit;
     width: auto;
    }

    .text-content{
        display: block;
    }
i.fa.fa-map-marker{
   margin-right:2%;
   color: #fff;
}


.fa {
    color: #a0d1af;
}

.text1-img{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}


.about_info1 h3 {
    font-size: 30px;
}


.father-flex{
    display: block;
    width: 100%;
}

.text1{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5%;
}
section.mayor {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.mayor-text{
    width: 100%;
}
.first{
    width: auto;
}
.second{
    width: auto;
}

.mayor-text h6 {
    font-size: 30px;
    }
.about_info1 h6{
    margin-left: 0;
}

.about_info1 h3 {
    font-size: 30px;
}

button.arrow-slick1.next-slick1.slick-arrow{
    right: 15px;
}

button.arrow-slick1.prev-slick1.slick-arrow{
    left: 15px;
}

a.btn-oficial.flex-c-m.size2.s-text2.bgwhite.hov1.trans-0-4{
        width: 100% !important;
    text-align: center;
    padding: 20px 30px;
    font-size: 9px !important;
}
    h2.caption2-slide1.animated.visible-false.m-b-30{
        font-size:16px;
		    margin-top: 6px;
		    background-color: #ffffffeb;
		padding: 2rem;
		
    }
	body > section.cards-options > div > div:nth-child(3) > h6{
		    margin-bottom: 22%;
	}
	.acc-btn{
		    margin-top: 21%;
	}
	.item-slick1:nth-child(2){
		    background-position: 75% 50%;
	}
	.item-slick1:nth-child(3){
		    background-position: 75% 50%;
	}
	.item-slick1:nth-child(5){
		    background-position: right;
	}
	.item-slick1:nth-child(4) .here {
    margin-left: 0;
}

    .card-item:hover .parrafo{
        right:0;
    }

.overlay h3{
  font-size: 2rem!important;
  padding: 10px;
}

.here{
  margin-left: 0;
text-align:center;
	    width: 75%;
}
	.item-slick1:nth-child(3) .here{
    margin-left: 3% !important;
		width:78% !important;
	}
	#slick-slide02 > div > div > div > div > a{
width:100%;
	}
.four {
 width: 100%;
}

.w-size1 {
    width: auto;
	display: flex;
	justify-content: center;
}
	
	.item-slick1:nth-child(1) a.btn-oficial.flex-c-m.size2.s-text2.bgwhite.hov1.trans-0-4 {
    width: 50% !important;
    text-align: center;
    padding: 25px;
}

.five{
    width: 100%;
}

.text-banner h1 {
    color: #fff;
}

.text-banner h1:after
{
    display: none;
}

.text-banner p {

    margin-top: 4%;
    color: #fff;
}

.text-banner h3 {
    color: #fff;
}

i.fa.fa-facebook{
    color: #fff;
}

i.fa.fa-instagram{
    color: #fff;
}

.btn-whatsapp .face{
    left: 1rem;
}

.btn-whatsapp .insta{
    left: 1rem;
}



.logo-mobile img {
    max-height: 40px;
}




.text-banner {
    position: absolute;
    top: 0;
    background: rgb(0 0 0 / 28%);
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.cards-products {
    padding-bottom: 100px;
    justify-content: center;
}

.ftco-footer .ftco-footer-widget h2{
    margin-left: 0;
}

.reasons h6 {
    font-size: 30px;
}


.logo-footer{
    text-align: center;
    margin-bottom: 3%;
    justify-content: center!important;
}



.header {
    height: 60vh;
}

.form
{
    width: 100%;
padding: 20px;
}

.form h5{
    margin-bottom: 10%;
}

.slider-nav.slick-initialized.slick-slider{
    display: none;
}

.banner img {
 width: 100%;
 height: 100vh;
}

.slider-for ul.slick-dots
{
    display: none!important;
}

.slick-dotted.slick-slider
{
    margin-left: 0;
}
	.multiple-logo {
display:none;
	}
.blog-item{
    display: block!important;
	    height: 55vh;
}
	body > section.blog > div > div > div{
		height:40vh;
	}

.card-services {
    padding-left: 25px;
    padding-right: 25px;
}
.cards-options {
    padding-left: 20px;
    padding-right: 20px;}
.text-misa{
    width: 100%;
    padding:20px;
    height:auto;
}


.acceder{
    display: block;
}

.item-acceder{
    width: auto;
}

.item-acceder{
    margin-top: 10% !important;
}
.text-misa h3:after{
    display: none;
}

/*--------------*RESPONSIVE NOSOTROS----------*/

.first-content{
    display: block;
}

.text-first{
    width: 100%;
}

.redes-flex{
    display: block;
}

.map{
    width: 100%;
}

.img-call img{
    display: none;
}

.call-text{
    width: 100%;
        padding-right: 20px;
    padding-left: 20px;
}

.call-center input{
        margin-bottom: 5%;
}

.text-first {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:5%;
    }
.submit{
    display: block;
    width: 100%;
}
    .call-center input{
            width: 100%!important;
    }

.text-bg {
    padding-left: 20px;
    padding-right: 20px;
    }
.accionistas p{
    padding: 20px;
}

.red-texto p{
    padding-right: 20px;
}
.red-texto{
    width: auto;
    margin-bottom: 10%;
}

.icon-redes {
    width: 50%;
    margin-top: 10%;
    }

    .map iframe{
        width: 100%;
    }
.img-first{
       width: auto;
    
    margin-bottom: 0%;
}
	.p-before:before{
		    width: 239px;
	}

.text-bg{
    width: auto; 
        padding-top: 20px;
    padding-bottom: 20px;
}

.red-texto {
    padding-left: 20px;
    }

    .text-icon p {
    margin-left: 5%;
}

.about-content-flex{
    display: block;
}
.assitent{
    display: none; 
}
.assitent img{
    display: none;
}

.buscador{
    display: block;
}

.text-arrow{
    width: auto;
}

.text-left-content{
        width: auto;
}

.buscador input[type="search"]{
    width:100%;
    margin-bottom: 5%;
}

span.fa.fa-search.form-control-feedback{
    left: 13%;
}
.btn-search{
    width: auto;
}
section.ayuda {
    padding: 20px;
}

.text-left-content {
    /* width: 35%; */
    margin-top: 10%;
    }/*--------------*RESPONSIVE NOSOTROS----------*/
.ayuda h6{
    padding-top: 150px;
    margin-top: 0;
}

.ayuda h5 {

    line-height: 26.5px;
    }

    .text-left-content h6{
        padding-top: 0;
    }
.formulario h5::before{
    display: none;
}
}
@media only (min-width: 768px) and (max-width: 1366px){
.text-there {
    width: 52%;
}
	
}
    
@media only (min-width: 1020px) and (max-width: 1366px) {
        .text-first p {
    line-height: 30px;
}
    .card-body{
        width:auto;
    }


    .card-body h6 {
    font-size: 18px;
    font-weight: bold;
    color: #33508d;
    margin-bottom: 5%;
    height: 50px;
}

    .card-body h6{
        height:auto;
    }
    .card-item:hover .parrafo{
        left:0;
        right:0;
    }
	.item-slick1:last-child .here{
		margin-left:50%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.p-before:before{
		    width: 285px !important;
	}
	.servicios h3{
    margin-top: 28px;
	}
	.icon-serv2{
right:0;
		    top: 50% !important;
	}
	#slick-slide02 > div > div > div > div > a{
		width:100% !important;
	}
	a.btn-oficial.flex-c-m.size2.s-text2.bgwhite.hov1.trans-0-4{
width: 60% !important;
	}
	.border-line {
    width: 72px !important;
}
	#process-tab > div > ul > li:nth-child(1) > a::after{
    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(2) > a::before{
  top: 42px;
		    left: 5vh;
	}
	#process-tab > div > ul > li:nth-child(2) > a::after{
		 top: 42px;
		    left: 11vh;
	}
	#process-tab > div > ul > li:nth-child(1) > a.active::after{
    z-index: 1;
    width: 14px;
    left: 70px;
	}
	#process-tab > div > ul > li:nth-child(3) > a::before{
     top: 42px;
		    left: 18%;
	}
	#process-tab > div > ul > li:nth-child(3) > a::after{
    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(3) > a.active::after{
   z-index: 1;
    width: 17px;
    left: 240px;
	}
	#process-tab > div > ul > li:nth-child(2) > a.active::after{
    z-index: 1;
    width: 22px;
    left: 151px;
	}
	#process-tab > div > ul > li:nth-child(3) > a.active::before{
		    left: 153px;
    z-index: 1;
    width: 23px;
}
	
	#process-tab > div > ul > li:nth-child(4) > a::before{
		top: 42px;
		    left: 10vh;
	}
#process-tab > div > ul > li:nth-child(4) > a::after{
	  top: 42px;
	
}
#process-tab > div > ul > li:nth-child(5) > a::before{
	top: 42px;
	
    left: 44%;

}
#process-tab > div > ul > li:nth-child(5) > a::after{
	top: 42px;
	
    left: 60%;
}
#process-tab > div > ul > li:nth-child(4) > a.active::after{
    z-index: 1;
    width: 16px;
    left: 323px
}
#process-tab > div > ul > li:nth-child(6) > a::before{
	top: 42px;
	left: 57%;
}
#process-tab > div > ul > li:nth-child(6) > a::after{
top: 42px;
}
#process-tab > div > ul > li:nth-child(5) > a.active::after{
    z-index: 1;
    width: 30px;
    left: 406px;
}
#process-tab > div > ul > li:nth-child(6) > a.active::before{
	    left: 55%;
}
#process-tab > div > ul > li:nth-child(7) > a::before{
top: 42px;
	    left: 71%;
}
#process-tab > div > ul > li:nth-child(7) > a::after{
top: 42px;
	    left: 84%;
}
	#accordion .panel-title a{
		    padding: 30px 20px 30px 60px;
	}
	body > section.recaudos.faqs-recaudo > h5{
		    margin-bottom: 5%;
	}
	.mayor-text h6::before{
    bottom: -16%;
	}
	body > section.recaudos.faqs-recaudo > h6{
		    margin-top: 60px;
	}
	.card-body-familia h6{
		    margin-top: 6rem;
	}
	.text-second-beneficios h6::before{
		    top: 39px !important;
	}
#process-tab > div > ul > li:nth-child(7) > a.active::before{
	    left: 68%;
}
#process-tab > div > ul > li:nth-child(7) > a.active::after{
	width: 15px;
    left: 586px
}
#process-tab > div > ul > li:nth-child(6) > a.active::after{
    z-index: 1;
    width: 17px;
    left: 503px;
}
#process-tab > div > ul > li:nth-child(8) > a::after{
top: 42px;
	    left: 86%;
}
#process-tab > div > ul > li:nth-child(8) > a.active::after{
	    left: 87%;
}
	.btn-prepago{
		display: grid;
    grid-template-columns: 1fr 1fr;
		    grid-gap: 20px;
	}
	
	button.btn-1{
		    width: 155px;
	}
	.text-plan{
    max-height: 100rem;
	}
	.image-publicacion img{
    object-position: 13%;
	}

	.text-first__pa:nth-child(2){
		    margin-top: -6px;
	}
	.item-acceder{
		
    margin: 0 13px;
	}
	.item-acceder h6{
    margin-bottom: 25%;
	}
	.acc-btn{
    margin-top: 40%;
	}
	.item-slick1{
		    height: 590px;
	}
	.item-slick1:nth-child(3) .here{
		    margin-left: 63%;
    width: 33%;
	}
	a.btn-oficial.flex-c-m.size2.s-text2.bgwhite.hov1.trans-0-4{
		    width: 36%;
	}
}
@media (min-width: 991px) and (max-width: 1199px){
	

	#process-tab > div > ul > li:nth-child(1) > a::after{
    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(2) > a::before{
		    left: 5vh;
		    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(2) > a::after{
		  top: 42px;
	}
	#process-tab > div > ul > li:nth-child(1) > a.active::after{
		    width: 4%;
		left: 9vh;
		  z-index: 1;
	}
	#process-tab > div > ul > li:nth-child(3) > a::before{
		 top: 42px;
		    left: 13vh;
	}
	#process-tab > div > ul > li:nth-child(3) > a::after{
		    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(2) > a.active::after{
		    z-index: 1;
		    width: 4%;
		    left: 21%;
	}
	#process-tab > div > ul > li:nth-child(4) > a::before{
		 top: 42px;
		    left: 25vh;
	}
	#process-tab > div > ul > li:nth-child(4) > a::after{
 top: 42px;
	}
	#process-tab > div > ul > li:nth-child(3) > a.active::after{
		    z-index: 1;
    left: 307px;
		
    width: 4%;
	}
	#process-tab > div > ul > li:nth-child(5) > a::before{
     top: 42px;
		    left: 38vh;
	}
	#process-tab > div > ul > li:nth-child(5) > a::after{
		top: 42px;
	}
	#process-tab > div > ul > li:nth-child(4) > a.active::after{
		    z-index: 1;
		    left: 46%;
		    width: 4%;
	}
	#process-tab > div > ul > li:nth-child(6) > a::before{
		top: 42px;
		    left: 51vh;
	}
	#process-tab > div > ul > li:nth-child(6) > a::after{
		top: 42px;
	}
	#process-tab > div > ul > li:nth-child(5) > a.active::after{
		    z-index: 1;
    width: 36px;
    left: 533px;
	}
	#process-tab > div > ul > li:nth-child(7) > a::before{
    top: 42px;
	}
	#process-tab > div > ul > li:nth-child(7) > a::after{
top: 42px;
		    left: 80vh;
	}
	#process-tab > div > ul > li:nth-child(7) > a.active::after{
		    left: 761px;
		    width: 36px;
	}
	#process-tab > div > ul > li:nth-child(8) > a::after{
		 top: 42px;
		    left: 80vh;
	}
		a.btn-oficial.flex-c-m.size2.s-text2.bgwhite.hov1.trans-0-4 {
    width: 50% !important;
}
	#slick-slide02 > div > div > div > div > a {
    width: 60% !important;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.p-before:before {
    width: 263px;
}
	.icon-serv2 {
    position: absolute;
    right: 0 ;
    top: 53% ;
}

	.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
}
	.border-line {
    width: 80px;
}

	
	.card-club-principal{
		display: flex;
    justify-content: center;
		align-items: center;
		    margin-bottom: 10%;
	}
	.card-club{
		width: 200px;

	}
	.card-club img{
		width: 100%;
		height:100%;
	}
.here{
    margin-left: 15%;
}
	.main-content__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
	
	.recaudos h5::before{
		display:none;
	}
	
	.process-model li::after{
		display:none;
	}
	.card-club-principal {
 
   width:auto;
		margin-bottom: 20%;  }
	.img-call{
		display:none;
	}
    section.about {
    padding-top: 90px;
}
    .call-text {
    padding-right: 20px;
    width: 100%;
    padding-left: 20px;
}
	.tab-content .faqs_acc{
		padding:0px;
	}
	
	.text-second-beneficios h6::before {

		top: 78px; }
.img-this{
 margin-right: auto;
 width: auto; 
  margin-left: auto;
}
    
    .red-texto {
        padding-left: 20px;}
    .text-bg {
    width: 50%;
    padding-left: 20px;
        padding-right: 20px;}
.text-first {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;}
.text1{
    display: block;
}

    .text1-img img {
    width: 100%;
}
.text-middle {
    margin-top: 5%;
    margin-bottom: 10%;

}

section.privacy {
    padding-top: 150px;
    }

.text1-img{
    width: auto;
}

.text-there{
    width: auto;
        margin-top: 5%;
            margin-bottom: 5%;
}

.logos-adjuntar img {
    width: 135px;
}

.planes h3 {
    font-size: 31px;
    }

    .card-item{
        height: auto;
    }

    .card-body{
        width: auto;
    }

    .icon-serv {
   
    position: absolute;
    top: 49%;
    right: 1%;
}
	
	.duelo-flex{
		padding-left:20px;
		padding-right:20px;
	}
    .duelo-flex {
    display: flex;
    padding-right: 20px;
        padding-left: 20px;}
    .duelo-text{
           padding-right: 20px;
        padding-left: 20px;
    }
    .card-recaudos_item{
        display:block;
    }
    
    .card-recaudos{
      
    }
    .marcas{
        display:block;
    }
    .marca-item{
        margin-bottom:10%;
    }
    .tab2{
        width:100%;
    }
    .card-recaudos_item{
        margin-bottom: 10%;
        height:auto;
    }
    .card-recaudos_item{
        text-align:center;
    }
    
    .marca-item{
        width:auto;
    }
    .recaudos h5{
        margin-bottom:15%;
    }
.cart-item{
    width: 284px!important;
}

.serv{
        padding-top: 150px!important;
}

.conoce-flex{
    display: block;
}
.duelo-img img {
    width: 300px;
    object-fit: contain;
}

.servicios h3 {
    font-size: 31px;
    }
.beneficios-text {
    width: auto;
    margin-bottom: 5%;
    }

.duelo-img img {
    width: auto;
    object-fit: contain;
}

.servicios h3 {
    font-size: 26px;
    }
    .icon-serv2 {
    position: absolute;
   
}

.planes h3:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 115px;
    background: #2196F3;
    top: inherit;
    left: 42%;
    right: 0;
    bottom: -30%;
}
section.planes {
    padding-top: 150px;}
.iconos-text{
    flex-wrap: wrap;
}

.work-flex{
        padding-top: 150px;
	    padding-left: 20px;
    padding-right: 20px;
}
	
	.redes-flex {
    display: flex;
    justify-content: end;
		  }
	
	.flex-adjuntar{
		   padding-left: 20px;
    padding-right: 20px;
	}
	
	.text-second-1 h6{
		height:auto;
	}
.text-second h6::before{
    bottom: -20%;
}
.error-found h2{
    margin-top: 0;
}

section.error-found{
    padding-top: 150px;
}


section.ayuda {
    padding: 20px;
}


span.fa.fa-search.form-control-feedback{
    left: 22%;
}
.ayuda h5::before {

    left: 42%;
    bottom: -65%;

}
.text-arrow{
    width: auto;
}
.about-content-flex{
    display: block;
}

.text-left-content{
    width: auto;
}

.text-left-content h6{
    padding-top: 40px!important;
}
    .ayuda h6{
    padding-top: 150px;
    margin-top: 0;
}

    .blog-img img {
    width: 100%;
    height: 35vh;
}
    
    .blog-img {
    height: 35vh;
}
    .blog h3 {
    font-size: 25px;
    }
    .servicios h3:before{
            bottom: -40%;
    }
.blog h3:after{
    display: none;
}
.cards-options {
    padding-left: 35px;
    padding-right: 35px;}
.item-acceder h6 {
    font-size: 20px;
    height: 40px;
}


.side-menu .main-menu {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.side-menu .main-menu > li > a {
    font-size: 26px;
    
    }
    .text-misa {
    background: #f7f7f7;
    padding: 50px 20px;
    height: 35vh;
}
    .item-acceder p{
        height:80px;
    }
/*----------------------*/
.text-first {

    padding-left: 20px!important;
    padding-right: 20px!important;

    }
    .text-bg {
 
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.red-texto {
 
    padding-left: 20px!important;
    }
   
}

@media (min-width:900px) and (max-height: 1440px){
	.p-before:before{
		width:400px !important;
	}
    
    .blog-img{
width: 61%;
height:50vh;
}

/*.img-first img{
        height: 47.5vh;
    width: 100%;
    object-fit: cover;
}*/
.text-first {
   
    padding-left: 85px;
    padding-right: 75px;
    }

.text-first p {
    font-size: 17px;
    line-height: 1.9;
}

    .number {
    font-size: 19px;
    letter-spacing: 1.2px;
    font-weight: 500;
    font-family: 'Gotham';
}
    
.blog-img img {
width: 100%;
    height:50vh;
        object-fit: cover;}
    
    .text-misa{
        height:50vh;
            padding: 28px 76px;
    }
.text-misa p {
   font-weight: 500;
    font-size: 16px;
}

    .logo2 img {
        padding-left: 45px;
        }
    

    

	
    
    .button_cta a p{
            font-size: 13.5px;
    }
    
.phone {
 
    padding-top: 4px;
}
    

   
    .card-item {
    position: relative;
           height: 510px;}
    

    
    .flex-button-2{
        width:265px;
    }

    .topbar2{
        height:100px;
    }

    .text-misa{
    padding: 28px 75px;
    width: 41%;
            display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

    }
}
@media (min-width: 320px) and (max-height: 568px){
	.item-slick1.item1-slick1 {
    height: 60vh;
    margin-top: 8rem;
}
	#slick-slide00 > div > div > div > div{
		margin-top: 20rem;
	}
	#slick-slide00 > div > div > div > div > a{
		padding: 15px !important;
	}
}

@media (min-width:1920px) and (max-height: 1080px) {
	.p-before:before{

     width: 556px !important;
	}
}
